<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <razoyo>
            <car_profile>
                <api_url><![CDATA[https://exam.razoyo.com/api/]]></api_url>
                <status>0</status>
            </car_profile>
        </razoyo>
    </default>
</config>
